@charset "UTF-8";
/* 초기화 */
body, h1, h2, h3, p, ul { margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; }
address { font-style: normal; }
.hidden { position: absolute; left: -9999px; }
body {
      background: linear-gradient( #b8dbf8 50%, #ffffff ) no-repeat;
 }
#wrap {
      width: 960px; margin: 8px auto 0; border: 1px solid #e7e7e7;
      background: #fff;
}
/* 헤더 */
#header {
      height: 279px; background: url(../images/bg_header.png) no-repeat center / cover;
}
#header h1 {
      padding: 20px 0 0 20px; color: #ff0;
      font-size: 70px;
}
/* 메인메뉴 */
#gnb { height: 60px; }
#gnb ul {}
#gnb ul li {
  width: 25%; float: left;
}
#gnb ul li a {
  display: block;
  text-align: center; line-height: 60px;
  background: #006600; color: #fff;
}
#gnb ul li a:hover { background: #ffffff; color: #000; font-weight: bold; }
/* 본문   */
main {
   width: 740px; float: left;
}
#content {
  padding: 30px 20px;
}
#content h3 {
  margin: 20px 0;
}
#content p {
  margin-bottom: 10px; font-size: 14px;
}
/* 사진모음 */
#aside {
  width: 220px; float: left; padding: 20px 0;
  background: #ddffdd;
  text-align: center;
}
#aside img {
  border: 1px solid #ccc;
}
/* 푸터 */
#footer {
  clear: both; padding: 20px 0;
  text-align: center;
  background: #061f1f; color: #fff;
}
/* 600-1023 */
@media all and ( max-width: 1023px ) {
 #wrap { width: 100%; margin: 0; border: 0; }
 main { width: auto; float: none; padding: 0 30px; }
 #aside { width: auto; float: none; }
 #aside img { width: 176px; }
}
/* 599이하 (gnb 높이 39px 좌우 여백 20px 리스트 사이 10px 상단 14px )*/
@media all and ( max-width: 599px ) {
  body { background: none;}
  /* #wrap { width: 100%; margin: 0 ; border: 0; } */
  #header { height: 75px; background: #061f1f; }
  #header h1 {padding: 10px 0 0 10px; font-size: 30px;  }
  #gnb { height: auto; margin: 14px 10px 0 10px; }
  #gnb ul li { width: auto; float: none; margin-bottom: 10px; }
  #gnb ul li a { background: #fff; color: #000;
                 border: 1px solid #ccc; border-radius: 10px; }
  #aside img { width: 90%; }
  #aside { background: #fff; }
}
